### 1번 문제
> For문을 이용하여 구구단을 출력하라
    2단부터 9단까지 구구단을 print를 이용하여 출력하라.

In [6]:
for n in range(2,10):
    for i in range(1, 10):
        print(n, ' X ', i, ' = ', i*n)
    print('-'*10)

2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
----------
3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
----------
4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
----------
5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
----------
6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
----------
7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
----------
8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
----------
9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
----------

### 2번 문제
> 2개의 주사위를 던져서 두 수의 합이 5의 배수인 경우를 출력하라.
1. 2개의 for문을 이용할 것
2. If문을 이용하여 5의 배수 조건을 줄 것

In [12]:
for n in range(1,7):
    for i in range(1, 7):
        sum = n + i
        if sum % 5 == 0:
            print(n,' + ',i,' = ',sum)

1  +  4  =  5
2  +  3  =  5
3  +  2  =  5
4  +  1  =  5
4  +  6  =  10
5  +  5  =  10
6  +  4  =  10

### 3번 문제
> 3개의 숫자를 입력하면 (input_a * input_b + input_c)와 (input_a + input_b * input_c)의 차이를 나타내는 함수를 만드시오.
1. 함수명은 diff_sum()이라 지정
2. 함수에 매개변수를 3개 지정(input_a, input_b, input_c)
3. (input_a * input_b + input_c)와 (input_a + input_b * input_c) 두 식의 결과 값은 언제나 큰 수에서 작은 수를 빼는 if 조건문 생성
4. 3개의 숫자는 input를 사용하여 입력 값을 받을 것

In [37]:
def diff_sum(input_a, input_b, input_c):
    if (input_a * input_b + input_c) >= (input_a + input_b * input_c):
        print((input_a * input_b + input_c)-(input_a + input_b * input_c))
    else:
        print((input_a + input_b * input_c)-(input_a * input_b + input_c))
x = diff_sum(int(input('숫자 1 : ')),int(input('숫자 2 : ')),int(input('숫자 3 : ')))
x

98

### 4번 문제
> Pandas를 이용하여 다음과 같은 데이터프레임을 만들고 데이터프레임을 수정하라.

|   | 0 | 1 |  2 |
|:-:|:-:|:-:|:--:|
| 0 | 1 | 2 |  3 |
| 1 | 7 | 8 |  9 |
| 2 | 4 | 5 |  6 |
| 3 | 3 | 5 | 10 |

1. 컬럼의 이름을 A, B, C로 변경
2. D라는 새로운 컬럼에 shift 함수를 이용하여 C 컬럼의 차를 D 컬럼에 생성(NaN값인 경우에는 0으로 대체)
3. A 컬럼을 기준으로 오름차순 정렬
4. 인덱스의 값을 새로 지정(기존의 인덱스는 삭제)
5. 이 모든 과정은 원본의 데이터를 수정

In [66]:
import pandas as pd
values = [[1,2,3],[7,8,9],[4,5,6],[3,5,10]]
index = [0,1,2,3]
columns = [0,1,2]
pd_dataframe = pd.DataFrame(values, index=index, columns=columns)

pd_dataframe.columns = ["A","B","C"]

pd_dataframe["D"] = (pd_dataframe["C"].shift(0)-pd_dataframe["C"]).fillna(0)

pd_dataframe.sort_values("A")

pd_dataframe.reset_index(drop=True, inplace=True)
pd_dataframe

   A  B   C  D
0  1  2   3  0
1  7  8   9  0
2  4  5   6  0
3  3  5  10  0

### 5번 문제
> csv파일을 읽어온 뒤 데이터프레임을 수정하는 Class를 만들어보자.

1. class를 생성할 때, 매개 변수를 이용하여 csv 파일 주소를 받아 온 후 csv파일 읽기(파일 주소는 상대경로로 지정)
2. class 내의 함수 _sort()를 생성 후 컬럼의 이름이나 컬럼의 위치(예 : n번째 컬럼)를 받아오는 매개 변수를 생성. 그 값을 기준으로 sort를 하는 함수 생성(매개 변수가 위치(int)인지 이름(str)인지 체크하여 함수 구성, 오름차순 정렬)
3. class 내의 함수 _drop()을 생성하여 매개 변수를 이용하여 컬럼의 이름을 받아온 후 해당 컬럼을 삭제하는 함수 생성
4. class 내의 함수 _reset()을 생성하여 인덱스의 값을 초기화 하고 기존의 인덱스 값은 삭제하는 함수 생성
5. 모든 과정에서 원본의 데이터를 수정

In [ ]:
dt = pd.read_csv('./Sales Records.csv')
class Class():
    def _sort():